

* {
    box-sizing: border-box;
}
html {
    font-family: 'Exo 2', sans-serif;
}
body {
    width: 100%;
}
main {
    width: 92%;
    margin: 0 auto;
}
header {
    text-align: center;
    color: #fff;
    background: #2f343a;
    padding: 2em;
    font-size: .7em;
    text-transform: uppercase;
}
h1 {
    margin-top: 0;
    margin-bottom: 0;
}
.container,
.cta {
    margin: 0 auto;
}
.cta {
    text-align: center;
    border-bottom: 4px solid #2f343a;
    padding-top: 2em;
    padding-bottom: 1em;
}
h2 {
    margin: 0 1em;
    font-size: 1.3em;
}
.container {
    border-top: 2px solid #2f343a;
    margin-top: 5px;
}
fieldset {
    border: none;
    margin: 0;
    padding: 0 .5em;


}
legend {
   font-size: 1.3em;
   margin: 0 0 1em 0;
   font-weight: bold; 
   padding-top: 4em;
}
label {
    padding: 1em 0;
    margin: 1em 0;
}
input[type="text"],
select,
textarea,
button {
    border: none;
    background: rgb(241, 241, 241);
    width: 100%;
    height: 3em;
    border-radius: 5px;
    margin: .5em 0 1em;
    padding: .2em 1em;
    display: block;
}
input:focus {
    border: 1px solid darkblue;
    outline: none;
}
/* http://stackoverflow.com/questions/3397113/ddg#3397158 to remove outline */
input[placeholder*="Required"] {
    text-align: right;
    font-style: italic;
    font-size: .9em;
    padding-right: 1em;
}
select {
    padding-left: .5em;
}
input#zipcode {
    width: 50%;
    margin-bottom: 2em;
}
.emptyDiv {
    border-top: 2px solid #2f343a;
}
.checkboxItem {
    padding: .5em 0;
}

input[type="checkbox"],
input[type="radio"] {
    width: 30px;
    padding: 2em;
}
.newsletter {
    margin: 10px 0 20px;
}
textarea {
    height: 6em;
    margin-top: 1em;
    /* margin-bottom: 1em; */

}
button {
    color: white;
    background: #4EBBB5;
    font-size: 1.3em;
    margin-top: .5px;
}
.footer {
    text-align: center;
    font-style: italic;
}

/* ************ DRY CSS Styles ************ */
.light,
label,
input::placeholder,
select#state,
.footer {
    font-weight 300;
    opacity: .45;
}



/* ************ Media Queries ************ */
 @media (min-width: 768px) {

html {
    margin: 0 auto;
}
main {
    width: 59%;
}
h2 {
    font-size: 2em;
}
fieldset {
    margin-top: 3em;
}
.flex {
    display: flex;
}
label {
    width: 40%;
    padding-top: 0;
}
input#zipcode {
    width: 40%;
}
.alignLeft {
    width: 70%;
}
}
@media (min-width: 2024px) {
main {
    max-width: 40%;
}
}
